body {
  background-color: #F5F5DC; /* Beige clair pour le fond */
  font-family: 'Arial', sans-serif; /* Police classique */
}

h1 {
  font-family: 'Times New Roman', serif; /* Police avec une touche classique */
  color: #008000; /* Vert foncé pour les titres */
}

p {
  line-height: 1.5;
  color: #A60000; /* Rouge foncé pour le texte */
}
