body {
  background-color: #FAF0E6; /* Blanc antique pour le fond */
  font-family: 'Arial', sans-serif; /* Police classique */
}

h1 {
  font-family: 'Times New Roman', serif; /* Police avec une touche classique */
  color: #FF0000; /* Rouge pour les titres */
}

p {
  line-height: 1.5;
  color: #008000; /* Vert pour le texte */
}
