body {
  background-color: ##EBE6D3; /* blanc cassé pour le fond */
  font-family: 'Arial', sans-serif; /* Police classique */
}

h1 {
  font-family: 'Times New Roman', serif; /* Police avec une touche classique */
  color: #02708B; /*bleu canard pour les titres */
}

p {
  line-height: 1.5;
  color: #D07361; /* vieux rose pour le texte */
}
